:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.bodyText {
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    
}

.secondaryText {
    font-family: 'Roboto', sans-serif;
    font-size: 300;
}

.bgPicture {
    background: url("/img/LandingPage_576x1600.png"), var(--cf-darkblue);
    background-position: top center;
    background-repeat: no-repeat;
}

.textHover {
    
}

@media (min-width: 767.98px) {
    .bgPicture {
        background: url("/img/LandingPage_768.png"), var(--cf-darkblue);
        background-position: top;
        background-repeat: no-repeat;
    }

    .bodyText {
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    }

    .secondaryText {
        font-family: 'Roboto', sans-serif;
        font-size: 300;
    }
}

@media (min-width: 991.98px) {
    .bgPicture {
        background: url("/img/LandingPage_992.png"), var(--cf-darkblue);
        background-position: top;
        background-repeat: no-repeat;
    }

    .bodyText {
    font-family: 'Roboto', sans-serif;
    font-size: 400;        
    }

    .secondaryText {
        font-family: 'Roboto', sans-serif;
        font-size: 300;
    }
}


@media (min-width: 1199.98px) {
    .bgPicture {
        background: url("/img/LandingPage_1200.png"), var(--cf-darkblue);
        background-position: center;
        background-repeat: no-repeat;
    }

    .bodyText {
    font-family: 'Roboto', sans-serif;
    font-size: 400;        
    }

    .secondaryText {
        font-family: 'Roboto', sans-serif;
        font-size: 300;
    }
}

@media (min-width: 1399.98px) {
    .bgPicture {
        background: url("/img/LandingPage_1400.png"), var(--cf-darkblue);
        background-position: center;
        background-repeat: no-repeat;
    }

    .bodyText {
    font-family: 'Roboto', sans-serif;
    font-size: 400;        
    }

    .secondaryText {
        font-family: 'Roboto', sans-serif;
        font-size: 300;
    }
}


